@charset "utf-8";
 @import url(base.css);
/*************main样式***************************/
body {
}
.main {
	//background:url(../images/main_bg.jpg) #FFF bottom right no-repeat;
	height:100%;
	width: 100%;
}
.common_menu {
	background:url(../images/common_menu_bg.jpg) #CFE1ED bottom repeat-x;
	height:36px;
	line-height:36px;
	padding:2px 20px;
}
.c_m_title {
	color:#004B85;
	font-size:16px;
	display:inline-block;
}
.c_m_title img {
	margin-right:10px;
}
.c_m_t_img01 {
	background: url(../images/img_04.png) no-repeat;
	width:40px;
	height:36px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
.c_m_btn {
	float:right;
	position:relative;
}
*+html .c_m_btn {
	float:right;
	position:relative;
	top:-37px;
	clear:both;
}
.cm_btn_m {
	position:relative;
	display:inline-block;
}
.cm_btn_m a {
	white-space:nowrap;
	background:url(../images/cm_btn_m_l.png) top left no-repeat;
	display:inline-block;
	line-height:27px;
}
.cm_btn_m a b {
	background:url(../images/cm_btn_m_r.png) top right no-repeat;
	font-weight:normal;
	display:inline-block;
	margin-left:4px;
	line-height:27px;
	padding:0 12px 0 8px;
	cursor:hand;
}
.cm_btn_m a:hover {
	background-position:0 -27px;
	text-decoration:none;
}
.cm_btn_m a:hover b {
	background-position:100% -27px;
}
.cmb_img {
	padding-right:4px;
}
.bullet_add {
	position: absolute;
	top:-8px;
	right:-5px;
}
.main_c {
}
.main_c table {
	width:98%;
	margin:0 auto;
	text-align:center;
	margin-top:8px;
}
.main_drop {
	width:98%;
	color:#004B85;
	margin:8px auto 0 auto;
	text-align:right;
}
.c_m_search {
	float:right;
	color:#004B85;
	position:relative;
}
*+html .c_m_search {
	float:right;
	position:relative;
	top:-37px;
	clear:both;
}
.tabs1 {
	border-collapse:collapse;
	border:1px solid #809DC7!important;
	background-color:#FFF;
}
.tabs1 th {
	background:url(../images/tabs_th.jpg) #61B3E3 repeat-x bottom;
	padding:5px 0;
	color:#FFF;
	font-weight:normal;
	text-align:center;
}
.tabs1 td {
	border-top:1px solid #FFF;
	padding:2px 4px;
	text-align:center;
}
.tabs1 td a:hover {
	text-decoration:underline;
}
.tabs1 th.tleft, .tabs1 td.tleft {
	text-align:left;
}
.tabs1 th.tright, .tabs1 td.tright {
	text-align:right;
}
.tabs1 tr.trbg {
	background-color:#D1E9ED;
}
.tabs1 tr:hover {
	background:url(../images/tabs_tr.jpg) #FDFAC5 top repeat-x;
}
a.tabs1_cz {
	background:url(../images/tabs_czbtn.jpg) #FFFFFF bottom repeat-x;
	display:inline-block;
	color:#545454;
	text-align:center;
	padding:1px 5px;
	border:1px solid #B4B4B4;
	margin:0 1px;
	white-space:nowrap;
}
 a.no_tabs1_cz {
	background:url(../images/no_tabs_czbtn_grey.jpg) #FFFFFF bottom repeat-x;
	display:inline-block;
	color:#545454;
	text-align:center;
	padding:1px 5px;
	border:1px solid #B4B4B4;
	margin:0 1px;
	white-space:nowrap;
}
a.tabs1_cz:hover {
	background:url(../images/tabs_czbtn_h.jpg) #FFFFFF bottom repeat-x;
	text-decoration: none!important;
}
 a.no_tabs1_cz:hover {
	background:url(../images/tabs_czbtn_h.jpg) #FFFFFF bottom repeat-x;
	text-decoration: none!important;
}
/**from fangbin**/
.tabs1 tr.tabs2{
	background:url(../images/tabs_czbtn_h.jpg) #FFFFFF bottom repeat-x;
	text-decoration: none!important;
}
a.tabs1_cz img {
	padding-right:2px;
}
 a.no_tabs1_cz img {
	padding-right:2px;
}
.font_red {
	color:#F00;
}
.font_green {
	color:#4A6A00;
}
/*edited by lurt { */
.tabs_foot {
	width:98%;
	color:#004B85;
	margin:2px auto;
	background:url(../images/tabsf_bg.png) bottom repeat-x;
	border:1px solid #7E9DC6;
}
.tfl_btns {
	padding:0px 4px 0px 6px;
}
.pop_notice {
	color:#D56A00 !important;
	margin-bottom:5px;
}
/* } */
a.tfl_blink {
	white-space:nowrap;
	display:inline-block;
	line-height:23px;
}
a.tfl_blink b {
	font-weight:normal;
	display:inline-block;
	margin-left:3px;
	line-height:23px;
	padding:0 12px 0 9px;
	cursor:hand;
}
a.tfl_blink:hover {
	background:url(../images/tabsf_btn_l.png) top left no-repeat;
}
a.tfl_blink:hover b {
	background:url(../images/tabsf_btn_r.png) top right no-repeat;
	text-decoration:none;
}
.page {
}
.pageL {
}
.pageR {
	position:relative;
	top:4px;
	right:10px;
	float:right;
}
*+html .pageR {
	top:0px;
	margin-top:-30px;
	float:right;
}
.pageR a img {
	margin:0 3px;
	margin-bottom:2px;
}
.pageR span a {
	color:#a7a7a6;
	text-align:center;
	height:16px;
	width:16px;
	line-height:16px;
	display:inline-block;
}
.pageR span a:hover {
	background:url(../images/p_3.png) no-repeat;
	color:#FFF;
}
.page_orange {
	color:#EB6100;
}
.page_green {
	color:#4A6A00;
}
.main_c2 {
}
.main_c2 table {
	width:100%;
	margin:0 auto;
	text-align:center;
}
/*---------右侧框-------------*/
/*edited by lurt { */
.loayt_01 {
	margin:0px auto;
	text-align:center;
}
.narrow_input_text {
	width:20px;
	height:15px;
}
/* } */
.loayt_top {
	width:100%;
	background: url(../images/kuang_left.png) left bottom no-repeat;
	display:block;
	height:31px;
	clear:both;
}
.loayt_tilte {
	background: url(../images/kuang_left.png) left bottom no-repeat;
	display:block;
	height:31px;
	text-align:left;
	line-height:31px;
	float:left;
	margin:0 10px 0 0;
}
.loayt_tilte b {
	margin:0 0 0 30px;
	color:#FFF;
	font-size:14px;
}
.loayt_right {
	background:url(../images/kuang_right.png) right bottom no-repeat;
	display:inline-block;
	width:10px;
	height:31px;
	float:right;
}
.loayt_mian table {
	width:100%;
}
.loayt_cm {
	background:url(../images/kuang_bg.jpg) #FFF bottom repeat-x;
	margin:0 auto;
	display:block;
	vertical-align:middle;
	padding:5px 0;
	text-align:center;
	border:1px solid #819EC6;
}
*+html .loayt_cm {
	width:auto;
}
.btn_s_m {
	margin:25px auto 0px auto;
}
.btn_s_m2 {
	margin:10px auto;
}
.item2 {
	overflow-x:hidden;
	overflow-y:auto;
}
.item2_c li {
	padding:2px 20px;
	display:block;
	overflow:hidden;
	height:auto;
	clear:both;
}
*+html .item2_c li {
	padding:1px 20px;
}
.item2_c li p {
	text-align: left;
	font-size:13px;
	color:#000;
}
.item2_c li span {
	float:left;
	text-align:left;
	padding:1px 0;
	font-size:12px;
	color:#013766!important;
}
.item2_bg {
	background:url(../images/pop_item_bg.jpg) #E2F2F4 top repeat-x;
}
/*--------------数据监察----------------------------*/
.tabs2 {
	border-collapse:collapse;
	border:1px solid #809DC7;
	background-color:#FFF;
}
.tabs2 th {
	background:url(../images/tabs_th.jpg) #61B3E3 repeat-x bottom;
	padding:5px 4px;
	color:#FFF;
	font-weight:normal;
	text-align:center;
}
.tabs2 td {
	border-top:1px solid #FFF;
	padding:2px 4px;
	text-align:center;
}
.tabs2 td.tleft {
	text-align:left;
}
.tabs2 td.tright {
	text-align:right;
}
.tabs2 tr.trbg {
	background-color:#D1E9ED;
}
.tabs2 tr:hover {
	background:url(../images/tabs_tr.jpg) #FDFAC5 top repeat-x;
}
.jc_tabs {
}
.jc_tabs table {
	width:100%;
	border-collapse:collapse;
}
.jc_tabs .jc_left_c {
	border:1px solid #809DC7;
	border-right:none;
	width:150px;
	font-size:14px;
	color:#004B85;
	background:url(../images/jc_tabs_td.jpg) #FFF bottom repeat-x;
}
.jc_tabs_td {
	background:url(../images/jc_tabs_td.jpg) #FFF bottom repeat-x;
}
.jc_tabs_td img {
	margin:0 20px;
}
/*--------------在线考核---------------------------*/
.m_kh_jd {
}
.spring {
	background:url(../images/kh_01.png) no-repeat;
	width:179px;
	height:119px;
}
.summer {
	background:url(../images/kh_02.png) no-repeat;
	width:179px;
	height:119px;
}
.autumn {
	background:url(../images/kh_03.png) no-repeat;
	width:179px;
	height:119px;
}
.winter {
	background:url(../images/kh_04.png) no-repeat;
	width:179px;
	height:119px;
}
.nextyear {
	background:url(../images/kh_05.png) no-repeat;
	width:179px;
	height:119px;
}
.nokh {
	background:url(../images/kh_06.png) no-repeat;
	width:179px;
	height:119px;
}
.m_kh_date {
	position:relative;
	left:7px;
	top:5px;
	float:left;
	font-size:10px;
	font-weight:bold;
}
.m_kh_date.white {
	color:#FFF;
}
.m_kh_rjd_sr {
	color:#005D14;
	float:right;
	margin:8px 18px 0 0;
}

.m_kh_rjd_su {
	color:#FDB03C;
	float:right;
	margin:8px 18px 0 0;
}

/*edited by lurt { */
.m_kh_rjd_au {
	color:#999999;
	float:right;
	margin:8px 18px 0 0;
}
/* } */

.m_kh_rjd_wi {
	color:#004986;
	float:right;
	margin:8px 18px 0 0;
}
.m_kh_rjd_ny {
	color:#FC0003;
	float:right;
	margin:8px 18px 0 0;
}
.m_kh_p {
	height:60px;
	line-height:60px;
}
.m_kh_cont {
	vertical-align:middle;
	padding:8px 15px 5px 15px;
}
.m_kh_cont p {
	line-height:16px;
}
.m_kh_btn {
}
.m_kh_btn a {
	color:#FFF;
	padding:4px 25px;
	display: inline-block;
}

/*edited by lurt { */
.m_kh_btn span {
	color:#FFF;
	padding:4px 25px;
	display: inline-block;
}
.m_kh_title {
	color:#999999;
	padding:4px 25px;
	display: inline-block;
}
/* } */

/*--------------汇总表---------------------------*/
/*edited by lurt { */
.tabs3_scroll {
	overflow-x:hidden;
	overflow-y:auto;
	height:341px;
}

*+html .tabs3_scroll {
	height:301px;
	padding-right:18px;
}
/* } */
.tabs4_scroll {
	overflow-x:hidden;
	overflow-y:auto;
	height:290px;
}
*+html .tabs4_scroll {
	height:312px;
}
.tabs3_w {
	width:98%;
	margin:0 auto;
	text-align:center;
}
.tabs3_w table {
	width:100%;
	margin:0;
}
.tabs4_w {
	width:70%;
	margin:0 auto;
	text-align:center;
}
.tabs4_w table {
	width:100%;
	margin:0;
}
.tabs4_f_w {
	width:70%;
	color:#004B85;
	margin:2px auto;
	background:url(../images/tabsf_bg.png) bottom repeat-x;
	border:1px solid #7E9DC6;
}
.tabs3_title {
	background:url(../images/tabs_title.jpg) #FFF top repeat-x;
	padding:15px 0 0px 0;
	text-align:center;
	font-size:24px;
}
.tabs3_date {
	width:98%;
	margin:0 auto;
	text-align:right;
	color:#666;
}
.tabs4_date {
	width:70%;
	margin:0 auto;
	text-align:right;
	color:#666;
}
.tabs3 {
	border-collapse:collapse;
	border:1px solid #809DC7;
	background-color:#FFF;
}
.tabs3 thead {
	background:url(../images/tabs03_th.jpg) #61B3E3 bottom repeat-x;
}
.tabs3 thead th {
	padding:5px 2px;
	color:#FFF;
	font-weight:normal;
	text-align:center;
	border:1px solid #60B0E2;
	background-image:url(../images/tabs03_th.jpg)\9;/*IE6/7/8*/
	background-position:bottom\9;/*IE6/7/8*/
}
.tabs3 thead th.nopadding {
	padding:0px;
	color:#FFF;
	font-weight:normal;
	text-align:right;
	border:1px solid #60B0E2;
	width:79px;
	height:90px;
	vertical-align:bottom;
}
.tabs3 thead th.nowrap {
	white-space:nowrap;
}
.tabs3 tbody td {
	border-top:1px solid #FFF;
	padding:2px 2px;
	text-align:center;
}
*+html .tabs3 tbody td {
	border-top:1px solid #FFF;
}
.tabs3 tbody td a:hover {
	text-decoration:underline;
}
.tabs3 thead th.tleft, .tabs3 tbody td.tleft {
	text-align:left;
}
.tabs3 thead th.tright, .tabs3 tbody td.tright {
	text-align:right;
}
.tabs3 tbody tr.trbg {
	background-color:#D1E9ED;
}
.tabs3 tbody tr:hover {
	background:url(../images/tabs_tr.jpg) #FDFAC5 top repeat-x;
}
a.tabs3_cz {
	background:url(../images/tabs_czbtn.jpg) #FFFFFF bottom repeat-x;
	display:inline-block;
	color:#545454;
	text-align:center;
	padding:1px 5px;
	border:1px solid #B4B4B4;
	margin:0 1px;
	white-space:nowrap;
}
a.tabs3_cz:hover {
	background:url(../images/tabs_czbtn_h.jpg) #FFFFFF bottom repeat-x;
	text-decoration: none!important;
}
a.tabs3_cz img {
	padding-right:2px;
}
.tabs3_fbtn {
	margin:10px auto;
	text-align:center;
}
.tabs3_fbtn input[type="button"] {
	margin:0 10px;
}
/*--------------右侧框列表----------------------------*/
.right_main {
	margin:0 0 0 260px;
	overflow:hidden;
}
.rlist100 {
	width:96%;
}
.item2_scroll {
	overflow-y:auto;
	overflow-x:hidden;
	height:310px;
}


/*--------------右侧框列表0414dl----------------------------*/
.loayt_02 {
	margin:0px auto;
}
.main_drop100 {
	width:100%;
	color:#004B85;
	margin:8px auto;
	text-align:right;
}
.tabs_foot100 {
	width:100%;
	color:#004B85;
	margin:2px auto;
	background:url(../images/tabsf_bg.png) bottom repeat-x;
	border:1px solid #7E9DC6;
}
.notflb {
	height:31px;
	line-height:31px;
	display:inline-block;
}
.tabs_list {
	border:1px solid #fff;
	border-collapse:collapse;
	background:url(../images/jc_tabs_list.jpg) #F9F9F9 bottom repeat-x;
}
.tabs_list td {
	text-align:center;
	border-right:#D1E9ED 1px solid;
	width:16%;
}
.tabs_list td a {
	padding:5px 8px;
	display:block;
}
.tabs_list td a:hover {
	color:#004B85!important;
	background:url(../images/tabs_tr.jpg) #FDFAC5 top repeat-x;
}
.tabs_list tr.trbg {
	background:url(../images/tabs_th.jpg) #61B3E3 bottom repeat-x;
}
.tabs_list tr.trbg td a {
	color:#FFF;
}
.rlist2 {
	background:url(../images/rlist_bg2.jpg) #E3EEF5 bottom repeat-x;
	padding:5px;
	overflow:hidden;
}
.rlist2_overflow {
	overflow-x:hidden;
	overflow-y:auto;
	height:369px;
	position:relative;
}
.rlist3_overflow {
	overflow-x:hidden;
	overflow-y:auto;
	position:relative;
}
.rlist2 dl {
	float:left;
	margin:4px;
	width:220px;
	background:url(../images/rlist_dl.jpg) #fff bottom repeat-x;
	border:1px solid #FFF;
}
.rlist2 dl dt {
	background:url(../images/tabs_th.jpg) #61B3E3 bottom repeat-x;
	color:#FFF;
	padding:6px 10px;
	font-weight:bold;
}
.rlist2 dl dt a {
	float:right;
	font-weight:normal;
	color:#E3EEF5;
}
*+html .rlist2 dl dt a {
	position:relative;
	margin-top:-24px;
	margin-right:5px;
}
.rlist2 dl dd {
	padding:0px;
	margin:0 8px;
	line-height:21px;
}
.rlist2 dl dd span {
	color:#F00;
	margin-right:5px;
}

/*--------------列表0417dl----------------------------*/
.top_layout {
	background:url(../images/04_01.jpg) top repeat-x;
	padding:5px 20px;
}
.top_layout span {
	float:right;
	margin-top:-3px;
}
*+html .top_layout span {
	position:relative;
	margin-right:10px;
	margin-top:-25px;
}
.tab_item {
	padding:0 10px;
	margin:8px auto;
	text-align:center;
}
.tab_item_top {
}
.tab_item_top h1 {
	float:left;
	width:66px;
	height:21px;
	line-height:21px;
	display:inline-block;
}
.tab_item_top h1 b {
	padding-left:32px;
}
.tab_item_top h1.red {
	background:url(../images/01_redl.png) left no-repeat;
}
.tab_item_top h1.yellow {
	background:url(../images/01_yellowl.png) left no-repeat;
}
.tab_item_top h1.green {
	background:url(../images/01_greenl.png) left no-repeat;
}
.tab_item_top span {
	background:url(../images/01_bluer.png) right no-repeat;
	height:21px;
	line-height:21px;
	display:block;
	/*color:#AFD5EC;*/
	color:#FFFFFF;
	padding:0 20px;
	text-align:left;
	margin-left:66px;
}
.tab_item_top_1 span {
	background:url(../images/01_bluer_1.png) left no-repeat;
}
.tab_item_top_2 span {
	background:url(../images/01_bluer_2.png) left no-repeat;
}
.tab_item_top_3 span {
	background:url(../images/01_bluer_3.png) left no-repeat;
}
.tab_item_list {
	padding:5px;
}
.tilist {
	background:url(../images/01_blue.png) no-repeat;
	width:80px;
	height:80px;
	text-align:center;
	float:left;
	margin:0 5px 0 0;
	display:inline-block;
}
.tilist:hover {
	background:url(../images/01_blue_h.png) no-repeat;
	cursor:pointer;
	color:#FFF;
}
.tilist h2 {
	padding-top:5px;
}
.tilist:hover p a {
	color:#FFF;
	text-decoration:underline;
}