/.struts.mex
/Struts.properties
/com
/config
/freemarker.properties
/jbpm.businesscalendar.cfg.xml
/jbpm.cfg.xml
/jbpm.console.cfg.xml
/jbpm.default.cfg.xml
/jbpm.default.scriptmanager.xml
/jbpm.execution.hbm.xml
/jbpm.hibernate.cfg.xml
/jbpm.history.hbm.xml
/jbpm.identity.cfg.xml
/jbpm.identity.hbm.xml
/jbpm.jboss.idm.cfg.xml
/jbpm.jbossremote.cfg.xml
/jbpm.jobexecutor.cfg.xml
/jbpm.jpdl.bindings.xml
/jbpm.jpdl.cfg.xml
/jbpm.mail.templates.xml
/jbpm.repository.hbm.xml
/jbpm.task.hbm.xml
/jbpm.task.lifecycle.xml
/jbpm.tx.hibernate.cfg.xml
/jbpm.tx.jta.cfg.xml
/jbpm.tx.spring.cfg.xml
/jbpm.variable.types.xml
/jbpm.wire.bindings.xml
/jpdl-4.0.xsd
/jpdl-4.2.xsd
/jpdl-4.3.xsd
/jpdl-4.4.xsd
/log4j.properties
/mail.properties
/org
/quartz.properties
/struts.xml
/test
