<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--
    	 如果是云端节点请使用 ：http://localhost:8080/iswap/webservice/iSwapWorkFlow?wsdl
    	 如果是ESB服务总线请使用：http://localhost:8080/iswap/webservice/iSwapESBWorkFlow?wsdl
    -->
	<url>http://localhost:8088/iswap/messagebroker/amf</url>
	<!--<url>http://localhost:8088/iswap/webservice/iSwapWorkFlow?wsdl</url>-->
	
</config>